html {
    display:flex;
    margin:0;
    padding:0;
}

body {
    display:flex;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.content {

}

.rule-message {

}

.heading {

}

.rules {

}

.message {

}

.game-buttons {

}

.rock {

}

.paper {

}

.scissors {

}

.scoreboard {

}

.score-heading{

}

.score-boxes {

}

.human-score {

}

.bot-score {
    
}