html {
    display:flex;
    margin:0;
    padding:0;
    font-family: arial;
}

body {
    display:flex;
    height:100vw;
    width:100vw;
    margin:0;
    padding:0;
    align-items:center;
    justify-content:center;
}

.content {
    border:1px solid black;
    display:flex;
    flex-direction:column;
    width:70%;
    height:50%;
    align-self:center;
    justify-self:center;
}

/* Block 1 (heading, rules, message text)*/

.rule-message {
    border:1px solid black;
    display:flex;
    flex-direction:column;
    flex:2;
    justify-content: center;
    align-items:center;

}

.heading {
    border:1px solid black;
    display:flex;
    flex:1;
    align-items:center;
    justify-content:center;
}

.rules {
    border:1px solid black;
    display:flex;
    flex:1;
    align-items:center;
    justify-content:center;
}

.rule-button {
    background-color:#C9F0E6;
    border-radius:10px;
    padding:5px 10px 5px 10px;
    font-size:18px;
    font-weight:bold;
}

.message {
    border:1px solid black;
    display:flex;
    flex:1;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.message-text {
    font-size:15px;
    font-weight:light;
    background-color:#EFEFEF;
    padding:7px;
    border-radius:5px;
}

/* Block 2 (buttons) */

.game-buttons {
    border:1px solid black;
    display:flex;
    flex:1;
    align-items:center;
    justify-content:center;
    gap:20px;
    padding-top:20px;
    padding-bottom:20px;
}

.rock {
    border:1px solid black;
    display:flex;
    width:20%;
}

.paper {
    border:1px solid black;
    display:flex;
    width:20%;
}

.scissors {
    border:1px solid black;
    display:flex;
    width:20%;
}

.throw-button {
    border-radius:50%;
}

.throw-button:hover {
    box-shadow: 0 0 12px rgb(74, 74, 74);
    cursor:pointer;
}

/* Block 3 (scoreboard) */

.scoreboard {
    border:1px solid black;
    display:flex;
    flex:1;
    flex-direction:column;
}

.score-heading{
    border:1px solid black;
    display:flex;
    flex:1;
    justify-self:center;
    align-self:center;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    align-items: center;
    margin-top:10px;
}

.score-boxes {
    border:1px solid black;
    display:flex;
    flex:2;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.human-score,
.bot-score {
    border:1px solid black;
    display:flex;
    padding:15px;
    margin-top:15px;
}